{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<p>
    Index
</p>
{% if g.user %}
Hello {{ g.user.username }}
<ul>
    {% if g.user %}<li><a href="{{ url_for('blog.user', user_id=g.user.id) }}">Personal page</a></li>{% endif %}
    <li><a href="{{ url_for('blog.users') }}">List of users</a></li>
    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
</ul>
{% else %}
<ul>
    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
    <li><a href="{{ url_for('blog.users') }}">List of users</a></li>
</ul>
{% endif %}
{% endblock %}
