{% extends "layout.html" %}

{% block title %}
Userpage of {{ user.username }}
{% endblock %}

{% block body %}
<p>
    List of messages posted by {{ user.username }}
</p>
<ul>
    {% for post in user.posts %}
        <li>{{ post.title }}: {{ post.contents }}
            {% if g.user and g.user.id == user.id %} - <a href="{{ url_for('blog.remove', post_id=post.id) }}">remove</a> -
            <a href="{{ url_for('blog.post', post_id=post.id) }}">edit</a>{% endif %}
        </li>
    {% endfor %}
</ul>
{% if g.user and g.user.id == user.id %}
    <p>
        <a href="{{ url_for('blog.post') }}">Post a message</a>
    </p>
{% endif %}
<p><a href="{{ url_for('blog.index') }}">Home</a></p>
{% endblock %}
