{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block body %}
<p>
    Index
</p>
{% if user %}
Hello {{ user.username }}
<ul>
    {% if user %}<li><a href="/user/{{ user.id }}/">Personal page</a></li>{% endif %}
    <li><a href="/users/">List of users</a></li>
    <li><a href="/logout/">Logout</a></li>
</ul>
{% else %}
<ul>
    <li><a href="/register/">Register</a></li>
    <li><a href="/login/">Login</a></li>
    <li><a href="/users/">List of users</a></li>
</ul>
{% endif %}
{% endblock %}
