<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <p>
            Index
        </p>
        {% if session["username"] %}
        Hello {{ session["username"] }}
        <ul>
            <li><a href="/logout/">Logout</a></li>
        </ul>
        {% else %}
        <ul>
            <li><a href="/register/">Register</a></li>
            <li><a href="/login/">Login</a></li>
        </ul>
        {% endif %}
    </body>
</html>
