{% extends "layout.html" %}

{% block title %}Post{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        <label for="title"><strong>Title</strong></label>
        <input type="text" name="title" {% if title %}value="{{ title }}"{% endif %}required>

        <br>
        <label for="contents"><strong>Contents</strong></label>
        <br>
        <textarea name="contents" rows=10 cols=30>{% if contents %}{{ contents }}{% endif %}</textarea>

        <button type="submit">Post</button>
    </form>
</div>
<p>
    <a href="/">Home</a>
</p>
{% endblock %}
